# File Managed by Ansible
# roles/crowdsec/templates/appsec.yaml.j2

source: appsec
appsec_config: crowdsecurity/appsec-default
labels:
  type: appsec
listen_addr: "{{ crowdsec_appsec_ip }}:{{ crowdsec_appsec_port }}"