# Path: roles/rathole/templates/rathole.service.j2

[Unit]
Description=Rathole - A secure reverse proxy
After=network.target

[Service]
User={{ rathole_user }}
Group={{ rathole_group }}
Restart=on-failure
ExecStart={{ rathole_install_path }}/{{ rathole_binary_name }} {% if rathole_role == "client" %}-c{% else %}-s{% endif %} {{ rathole_config_path }}/{{ rathole_config_file }}

[Install]
WantedBy=multi-user.target