extends: default

rules:
  indentation:
    indent-sequences: consistent
  line-length:
    max: 140
    allow-non-breakable-words: true
  truthy:
    allowed-values: ['true', 'false']
  document-start: disable
